.DS_Store
/LeafPDF.app
LeafPDF.icns
LeafPDF.dmg
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
TODO-munepi.md
